/* font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* header style */
header > nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
} 
nav > span > a{
    text-decoration: none;
    margin-right: 10px;
    color: black;
    
}

/* Influencer style */
.influencers {
    display: flex;
    justify-content: center;
    align-items: center;  
} 
.influencer{
    width: 582px;
height: 270px;
}

#influencer-title{
    font-size: 52px;
    font-weight: 700;
}

button{
    background: #E02C6D;
 border-radius: 41px;
         width: 196px;
        height: 44px;
         color: #FFFFFF;
}
.camera{
    width: 440px;
    height: 414px;
}

